@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  height: 100vh;
  margin: 0;
  align-content: center;
  overflow: hidden;

  font-family: 'Bebas Neue', sans-serif;
  /* background-color: rgba(37, 69, 92, 0.703); */
  background-image: url("https://img.freepik.com/free-photo/volumetric-musical-background-with-treble-clef-notes-generative-ai_169016-29575.jpg?w=2000");
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
